# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/media
/staticfiles

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
